<%# Navigation  %>
<nav id="navbar" class="navbar d-flex navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
  <div class="container">
    <%# Image logo %>
    <%= link_to "#", class: "navbar-brand logo-image" do %>
      <%= image_tag "logostudioarya.png", height: "50px" %>
    <% end %>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if false %>
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ms-auto navbar-nav-scroll">
          <li class="nav-item">
            <%= link_to "Home", "#header", class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sobre", "#details", class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Serviços", "#services", class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projetos", "#projects", class:"nav-link active" %>
          </li>
          <%# keep going with the dropdown %>
          <li class="nav-item dropdown">
            <%= link_to "Dropdown", "#", class:"nav-link dropdown-toggle" %>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li>
                <%= link_to "Artigos", "#", class:"dropdown-item" %>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <%= link_to "Termos e condicoes", "#", class:"dropdown-item" %>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <%= link_to "Politica de Privacidade", "#", class:"dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
