<%# Navigation  %>
<nav class="navbar d-flex navbar-expand-lg sticky-top navbar-light" aria-label="Main navigation">
  <div class="container">
    <%# Image logo %>
    <%= link_to "#", class: "navbar-brand logo-image" do %>
      <%= image_tag "logostudioarya.png", height: "50px" %>
    <% end %>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%# Navigation links %>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <%= link_to "Home", "#header", class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sobre", "#details", class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Serviços", "#services", class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projetos", "#projects", class:"nav-link active" %>
        </li>
        <%# keep going with the dropdown %>
        <li class="nav-item dropdown">
          <%= image_tag "", class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%#= "Mais", class: "nav-link dropdown-toggle" %>
          <%#= link_to "Mais", "#", class:"nav-link dropdown-toggle" %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "Artigos", "#", class:"dropdown-item" %>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <%= link_to "Termos e condicoes", "#", class:"dropdown-item" %>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <%= link_to "Politica de Privacidade", "#", class:"dropdown-item" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
